.text{
  color: white !important;
  margin-left: 50px !important;
  font-size: larger !important;
}
/* .text:active {
  color: yellow !important;
} */


.text-active {
  color: yellow !important;
  margin-left: 50px !important;
  font-size: larger !important;
}

.logo{
  margin-left: -50px;
}

@media (max-Width: 768px){
  .logo{
    margin-left: 0px;
  } 
}


/* Image */

.container {
  position: relative;
  text-align: center;
  color: white;
}



.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  margin-top: 100px;
  text-decoration: underline;
}





.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cropped1 {
  width: 100%; /* width of container */
  height: 400px; /* height of container */
  object-fit: cover;
}

.main-text{
  color: white !important;
  font-weight: 1000;
  font-size: 50px;
  text-shadow: 4px 4px black;
}
.child-text{
  color: white !important;
  font-weight: 1000;
  font-size: 20px;
  text-shadow: 4px 4px black;
}


.vl {
  border-left: 2px solid white;
  /* height: 500px; */
}

.text-nav2{
  color: white !important;
 font-size: 25px;
 text-decoration: none;
}

.text-nav2:hover{
  color: yellow !important;
 font-size: 25px;
 text-decoration: none;
}

.text-nav2-active{
  color: yellow !important;
 font-size: 25px;
 text-decoration: none;
}
